/* Reset default margins, padding, and box sizing for all elements */
* {
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif; /* Sets the font family for all elements */
    box-sizing: border-box; /* Ensures padding and borders are included in the element's total width and height */
}

/* Container class for centering the calculator on the page */
.container {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background: #000000; /* Black background color */
    display: flex; /* Flexbox for alignment */
    align-items: center; /* Vertically centers the calculator */
    justify-content: center; /* Horizontally centers the calculator */
}

/* Styles for the calculator container */
.calculator {
    background: #72afff; /* Light blue background */
    padding: 20px; /* Padding around the calculator */
    border-radius: 10px; /* Rounded corners */
}

/* General styles for all input elements inside the form */
.calculator form input {
    border: 0; /* Removes the default border */
    outline: 0; /* Removes the default outline */
    width: 60px; /* Sets a fixed width for buttons */
    height: 60px; /* Sets a fixed height for buttons */
    border-radius: 10px; /* Rounded corners */
    /* Creates a shadow effect to give a 3D appearance */
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), -5px -5px 15px rgba(0,0,0,0.2);
    background: transparent; /* Transparent background */
    font-size: 20px; /* Font size for button text */
    color: #006779; /* Text color */
    cursor: pointer; /* Changes the cursor to a pointer on hover */
    margin: 10px; /* Space between buttons */
}

/* Styles for the display area of the calculator */
form .display {
    display: flex; /* Flexbox for alignment */
    justify-content: flex-end; /* Aligns the text to the right */
    background-color: #bdedf3; /* Light blue background */
    border-radius: 10px; /* Rounded corners */
    margin: 20px 0; /* Space above and below the display */
}

/* Specific styles for the input inside the display area */
form .display input {
    text-align: right; /* Aligns text to the right */
    flex: 1; /* Ensures the input takes up the full width of the display */
    font-size: 45px; /* Larger font size for the display text */
    box-shadow: none; /* Removes the box shadow from the display input */
}

/* Specific styles for the equal button */
form input.equal {
    width: 145px; /* Wider button to accommodate the equal sign */
}

/* Specific styles for operator buttons (AC, DE, etc.) */
form input.operator {
    color: #33ffd8; /* Cyan color for the text of operator buttons */
}
